p{
    font-size: 16;
}
.full{
    width:100%;
}
.fix {
    text-align: center;
    position: fixed;
    height: 180px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
@keyframes back {
    0% {background-color: #001f3f; color: white;}
    10% {background-color: #0074D9; color: white;}
    20% {background-color: #3a4660; color: #c9af98;}
    30% {background-color: #3D9970; color: white;}
    40% {background-color: #FF851B; color: white;}
    50% {background-color: #FF4136; color: white;}
    60% {background-color: #85144b; color: white}
    70% {background-color: #111111; color: white;}
    80% {background-color: #bd8c7d; color: white;}
    90% {background-color: #39CCCC; color: white;}
    100% {background-color: #FFF; color: #111111;}
}

.white {
    background-color: white;
    opacity: 1;
    z-index: 1;
}

.t {
    z-index: 100;
    padding-top: 42vh;
}

.nav-link {
    color:white;
}

body {
    font-family:  -apple-system, sans-serif;
}

.contact {
  display: flex;
  align-items: center;
  color:white;
}

.index {
    background-attachment: fixed;
    height: 100vh;
    width:100%;
    animation-name: back;
    animation-duration: 120s;
    animation-iteration-count: infinite;
  }
.about {
    padding: 2rem 2rem;
    color: black;
    background-color: white;
}

.card {
    color: black;
}

.padding {
    padding-bottom: 5px;
    padding-right: 5px;
}