p{
    font-size: 16;
}

.t {
    padding-top: 48vh;
}

.nav-link {
    color:white;
}

.contact {
      display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}

.index {
    background-image: url("Images/pro.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height:100vh;
    width: 100%;
    opacity: 1;
  }
.about {
    padding: 2rem 2rem;
    color: black;
    background-color: white;
}

.card {
    /*background-color: #33363b;*/
    color: black;
    opacity: 0.8;
}